* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-width: 100%;
    min-height: 100vh;
}

#logo-container {
    padding: 20px 0 10px 0;
    text-align: center;
}

#hero-container {
    background: center / cover url('/assets/athlete-girl.webp');
    width: 100%;
    min-height: 250px;
}