* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-width: 100%;
    min-height: 100vh;
}

#logo-container {
    padding: 20px 0 10px 0;
    text-align: center;
}

#hero-container {
    background: center / cover url('/assets/athlete-girl.webp');
    width: 100%;
    min-height: 250px;
}

#copy-container {
    text-align: center;
    font-family: 'AdiHaus', sans-serif;
    padding: 30px;
    color: #423A3A;
}

#copy-container > h1 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing: 5px;
    margin-bottom: 15px;
}

#copy-container > h1 > span {
    display: block;
    font-size: 48px;
    font-weight: 400;
    color: #CD3A24;
    line-height: 42px;
    margin-bottom: 15px;
}

#copy-container > p {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

@font-face {
    font-family: 'AdiHaus';
    src: URL('https://assets.codepen.io/6060109/adihaus_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AdiHaus";
    src: url("https://assets.codepen.io/6060109/adihaus_bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}